<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="content">
            <hgroup>
                <h1>Web Development</h1>
                <h2>Yeah, it's awesome!</h2>
            </hgroup>
        </div>
    </header>
    <section id="main">
        <div class="content">
            @RenderBody()
        </div>
    </section>
    <footer>
        <div class="content">
            <p>&copy; 2013 - @DateTime.Now.Year Matt Banz, Inc</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/syntaxHighlighter")
    @RenderSection("scripts", required: false)
</body>
</html>
