
@{
    ViewBag.Title = "Lesson 1";
}

<article>
    <h2>Lesson 1</h2>
    <section>
        <h3>How does the web work?</h3>
        <div>
            <p>
                Every web page that you view was sent to your browser from a web server. That web server could be located anywhere in the world.
                So how does your computer find the web server?
            </p>
            <img src="~/Images/468px-Client-server-model.svg.png" />
            <p>
                Each computer connected to the internet is identified by an address called an IP Address.
                When you type in an address like http://www.google.com, your computer first connects to your <dfn>Internet service provider</dfn> (<abbr>ISP</abbr>) (e.g, Comcast, Century Link, etc)
                who in turn talks to a <dfn>Domain Name System</dfn> (<abbr>DNS</abbr>). The purpose of a DNS is to find the IP Address for the web site you are trying to visit.
            </p>
            <p>
                You could, if you so desired, go to a website by directly entering its IP Address.
                For example, where does this IP Address go to: <a href="http://171.20.34.151" target="_blank">http://171.20.34.151</a>?
            </p>
        </div>
    </section>

    <section>
        <h3>Websites are written in HTML</h3>
        <div>
            <p>
                <dfn>HTML</dfn> stands for HyperText Markup Language. It is the language of the web. Can you think of why the name says "HyperText"? (<a href="http://en.wikipedia.org/wiki/Hyperlink" target="_blank">hint</a>)
            </p>
            <p>
                HTML is a markup language, because you must "mark up" everything on the page, that is, you must add some special marks in your document to tell the brower how it should be displayed.
                For example, you "mark up" a paragraph like so:

                <pre><code class="brush: html;">@(@"
            <p>This is a paragraph</p>
            ")</code></pre>
            </p>
            <p>
                The &lt;p&gt; is the opening <dfn>tag</dfn> and the &lt;/p&gt; is the closing tag (notice the slash). The two tags plus the text between them is called an <dfn>element</dfn>.
            </p>
        </div>
    </section>

    <section>
        <h3>How to view the HTML of Existing Sites</h3>
        <div>
            <p>
                You can view the HTML of any website by first browsing to it, e.g. the website you're on right now, and then pressing <kbd><kbd>Ctrl</kbd>+<kbd>U</kbd></kbd> (<kbd>Ctrl</kbd> and <kbd>U</kbd> at the same time).
                This shows the HTML exactly as it was sent by the web server.
            </p>
            <p>
                Another way to view the HTML is to right click and choose "Inspect Element", this opens up the developer tools. Here you can not only view the HTML
                but you can modify it as well! Try it out! There is no need to worry about messing up the page. You are only editing a copy of the web page that exists
                on your computer. If you want to see the original web page again, just refresh the page and it will look good as new.
            </p>
        </div>
    </section>

    <section>
        <h3>How can I create a new HTML document?</h3>
        <div>
            <p>
                HTML is a text file. That means that humans can read it (trust me on this one :)! The alternative would be a binary file, which is a bunch of 1's and 0's (not easily understood by humans).
                On a Windows computer, you can create a new HTML document by opening up notepad, typing your HTML tags, and then saving it with a .html extension.
            </p>
            <p>
                But wait! There is a much better way to create an HTML document! In this class, we'll use Visual Studio!
                You can download <a href="http://www.visualstudio.com/downloads/download-visual-studio-vs#d-express-web" target="_blank">Visual Studio Express</a> for free by following the link.
                Click on the link that says, "Install now".
            </p>
            <p><img src="~/Images/visualStudioInstall.png" alt="Visual Studio Screenshot" width="880" /></p>

            <p>
                Visual Studio is what's known as an <dfn>Integrated Development Environment</dfn> (<abbr>IDE</abbr>). An IDE offers many advantages over notepad:
            </p>
            <dl>
                <dt>Syntax Highlighting</dt>
                <dd>Look at all the pretty colors!</dd>

                <dt>Debugging</dt>
                <dd>Why doesn't my code work?</dd>

                <dt>Intellisense</dt>
                <dd>Predict-a-text</dd>

                <dt>Error Marks</dt>
                <dd>Squigglies</dd>

                <dt>Line Numbers</dt>
                <dd>To turn them on go to Tools -> Options -> Text Editor -> All Languages, then check the checkbox next to Line Numbers</dd>
            </dl>
        </div>
    </section>

    <section>
        <h3>Let's begin</h3>
        <div>
            <p>The <em>starting</em> HTML of every web page:</p>

            <pre><code class="brush: html;">@(@"
            <!DOCTYPE html>
            <html>
            <head>
                <meta charset=""utf-8"" />
                <title>Your title here</title>
            </head>
            <body>
                <!-- Put content here -->
            </body>
            </html>
            ")</code></pre>
        </div>
    </section>

    <section>
        <h3>Text Elements</h3>
        <div>
            <p>
                HTML defines six levels of headings. &lt;h1&gt; is used for main headings. &lt;h2&gt; is used for sub headings. &lt;h3&gt;, &lt;h4&gt;, etc get progressively smaller and smaller.
            </p>

            <pre><code class="brush: html;">@(@"
            <h1>Largest</h1>
            <h2>Larger</h2>
            <h3>Large</h3>
            <h4>Small</h4>
            <h5>Smaller</h5>
            <h6>Smallest</h6>
            ")</code></pre>

            <p>
                As already mentioned, paragraphs go inside the &lt;p&gt; tag (or element). The browser displays a paragraph with whitespace above and below it. Let's try making two paragraphs.
            </p>

            <pre><code class="brush: html;">@(@"
            <p>
                This is my first paragraph. Notice how there is whitespace above and below it
                just as you would expect if you were writing it by hand or typing it into word
                processing software such as Microsoft Word.
            </p>
            <p>
                This is another paragraph so we can see how the two are separated by whitespace.
                Big gulps, huh? Well, see ya later.
            </p>
            ")</code></pre>

            <p>
                Some tags are <dfn>self-closing</dfn>. These tags don't have content. Because they don't have content, there's no need to have
                both opening and closing tags. Instead, self-closing tags have only a single tag with a slash before the closing angle bracket.
            </p>

            <p>
                Here are our first examples of self-closing tags, &lt;br /&gt; and &lt;hr /&gt;. The &lt;br /&gt; represents a line break, that is, it
                put the text after it on a new line. The &lt;hr /&gt; tag represents what is called a horizontal rule. A horizontal rule is displayed as
                a horizontal line across the screen.
            </p>

            <pre><code class="brush: html;">@(@"
            <p>
                This paragraph has no line breaks.
                Both sentencess are on the same line.
            </p>
            <hr />
            <p>
                This is the first line. <br />
                This is the second line.
            </p>
            ")</code></pre>

            <p>
                There are lots of other elements used to mark up text. Here are some of them
            </p>

            <ul>
                <li>The &lt;b&gt; tag makes text appear as bold.</li>
                <li>The &lt;i&gt; tag makes the text italicized.</li>
                <li>The &lt;sup&gt; tag displays text as a superscript.</li>
                <li>The &lt;sub&gt; tag displays text as a subscript.</li>
                <li>The &lt;strong&gt; tag is used to mark up text that has strong importance.</li>
                <li>
                    The &lt;em&gt; tag is used to mark up text that should be emphasized when speaking it. This changes the meaning of the sentence.
                    For example, "I &lt;em&gt;love&lt;/em&gt; you!" has a different emphasis than, "I love &lt;em&gt;you&lt;/em&gt;!"
                </li>
                <li>The &lt;blockquote&gt; is used to display a large quote that is its own paragraph.</li>
                <li>The &lt;q&gt; tag is for a smaller inline quote.</li>
                <li>The &lt;abbr&gt; tag is for an abbreviation.</li>
                <li>The &lt;cite&gt; tag is used to mark up the title of some work such as a book, movie, song, etc.</li>
                <li>The &lt;dfn&gt; tag is used to denote the definition of some new term.</li>
                <li>
                    The &lt;address&gt; tag has a very specific meaning. It's not used for just any old address.
                    Its sole purpose is to mark up the address of the author of the website.
                </li>
                <li>The &lt;ins&gt; tag denotes text that has been inserted into the document.</li>
                <li>The &lt;del&gt; tag denotes text that has been deleted from the document.</li>
                <li>
                    The &lt;s&gt; tag displays text with a strikethrough, that is, a line through it. It is used to display text that is no longer relevant or accurate.
                    Even though it may have the same visual appearance as the &lt;del&gt; tag, it has a different meaning.
                </li>
            </ul>

            <p>
                Try adding each of these text elements to your HTML document. How does each one appear?
            </p>
        </div>
    </section>

    <section>
        <h3>Lists</h3>
        <div>
            <p>
                HTML has three basic types of lists. The first one we'll discuss is an ordered list which is denoted by the &lt;ol&gt; tag.
                Items are added to the list using the &lt;li&gt; tag. "li" stands for list item. Because this is an ordered list, each item in the list has a number next to it.
            </p>

            <pre><code class="brush: html;">@(@"
            <p>Things to do today</p>
            <ol>
                <li>Wake up</li>
                <li>Exercise</li>
                <li>Eat breakfast</li>
                <li>Make a freakin' awesome website!</li>
            </ol>
            ")</code></pre>

            <p>
                Another type of list that is very similar to the ordered list is the unordered list. This is denoted with the &lt;ul&gt;.
                This is a bulleted list. 
            </p>

            <pre><code class="brush: html;">@(@"
            <p>Things I like</p>
            <ul>
                <li>Sunny days</li>
                <li>Chocolate chip cookies</li>
                <li>A good book</li>
            </ul>
            ")</code></pre>

            <p>
                The third type of list we'll look at is a definition list, denoted by the &lt;dl&gt; tag. This list contains terms and definitions
                for those terms. Each term is denoted by the &lt;dt&gt; tag and its corresponding definition is denoted by the &lt;dd&gt; tag.
            </p>

            <pre><code class="brush: html;">@(@"
            <p>Medical Terms</p>
            <dl>
                <dt>Appendectomy</dt>
                <dd>The surgical removal of the appendix</dd>

                <dt>Poliomyelitis</dt>
                <dd>A viral disease that can affect nerves and can lead to partial or full paralysis.</dd>
            </dl>
            ")</code></pre>
        </div>
    </section>

    <section>
        <h3>Links</h3>
        <div>
            <p>
                Now we're getting to the fun stuff! Hyperlinks are placed into the document using the &lt;a&gt; tag. "a" stands for anchor. Don't ask me why
                links are called anchors, I can only guess.
            </p>
            <p>
                In order to talk about links, however, we need to talk about attributes. HTML tags can store additional information that's not shown to the user.
                This additional information is added to the <em>opening</em> tag using what are called <dfn>attributes</dfn>.
                Attributes have two parts: a name and a value. The two parts are separated by an equals sign and the value goes inside of double quotes.
                Here is an example of a link with an attribute:
            </p>

            <pre><code class="brush: html;">@(@"
            <a href=""http://www.google.com"">Google</a>
            ")</code></pre>

            <p>
                In this example, the name of the attribute is "href" and the value is "http://www.google.com". This attribute is very important since it tells
                the browser where the hyperlink should go to. Notice that the content "Google" is what's shown to the user and can be different than the href.
            </p>

            <p>
                That last example showed how we can link to some other site on the web. Now lets see how we can create a link to another page in our <em>own</em> site.
                To do that we can use what is called a <dfn>relative URL</dfn>.
            </p>

            <ol>
                <li>link to specific part of page</li>
                <li>link to specific part of another site or page</li>
                <li>email</li>
                <li>open in new window</li>
            </ol>
        </div>
    </section>

    <section>
        <h3>Images</h3>
        <div>
            <ol>
                <li>src, alt, title, width, height</li>
                <li>png, jpg, gif</li>
                <li>figure, figcaption</li>
            </ol>
        </div>
    </section>

    <section>
        <h3>Tables</h3>
        <div>
            <ol>
                <li>table</li>
                <li>tr, td, th</li>
                <li>spanning cols or rows</li>
                <li>thead, tbody, tfoot</li>
            </ol>
        </div>
    </section>
</article>


@section scripts {
<script>
    $(function () {
        $("article").accordion({
            header: "h3",
            heightStyle: "content",
            collapsible: true,
            active: false
        });
    });
</script>
<script>
    SyntaxHighlighter.config.tagName = "code";
    SyntaxHighlighter.defaults["toolbar"] = false;
    SyntaxHighlighter.all();
</script>
}